link(href="style.css" rel="stylesheet")
div(id="navBar")
            ul
                li
                    h3 Home
                li
                    h3 Search Movie
                li
                    h3 Login
form(id="searchTerms" method="POST")
    p Movie Title:
        input(id="title" name="title" type="text" placeholder="Avengers")
    p Genre:
        input(id="genre" name="genre" type="text" placeholder="Action")
    p Actor:
        input(id="actor" name="actor" type="text" placeholder="Robert Downey Jr." autocomplete="off")

    input(type='submit' value='Search')
a(href='/logout')
    button Log Out

div(id='container')
    block content

script(src="/js/movieReviews.js")