doctype html
html
    head
        link(href="style.css" rel="stylesheet")
    body
        form(id="movieReviewForm" method="POST")
            p Email:
                input(id="emailInput" name="email" type="text" placeholder="example@something.com")
            br
            p Password: 
                input(id='passwordInput' name='password' type='password')
            p agustin.downs@tbeatty.com
            p UoNt-Kvx2
            p mohammed.ramirez@tbeatty.com
            p QIsdf55ly/8
            //- p Rating:
            //-     select(id="ratingInput" name="rating" disabled)
            //-         option(value="1") 1 star
            //-         option(value="2") 2 star
            //-         option(value="3") 3 star
            //-         option(value="4") 4 star
            //-         option(value="5") 5 star
            //- br
            //- p Review:
            //-     textarea(id="reviewInput" name="review", cols="30", rows="10" disabled)
            //- br
            input(id="submitBtn" type="submit" disabled)

    script var data = !{JSON.stringify(accounts)}
    script(src="/js/script.js")