header
    h1(class="page_title") Register
    script(src="https://www.google.com/recaptcha/api.js?render=6LcxZTwaAAAAADFAe64Jwf8Ox2rHAlj61iphlijY")
    link(href="style.css" rel="stylesheet")

div(id="navBar")
    ul
        li
            a(href="/" class="nav_item") Home
        li
            a(href="/moviePage" class="nav_item") Search A Movie
        li
            a(href="/signup" class="nav_item") Login
section(class="main_area")
    p(class="error_label") #{errmsg}
    form(action="/signup" method="POST" class="form" id='demo-form')
        input(type="text" name="email" placeholder="Email" id="email" class="signup_field")
        p(id="emailError" class="error_label")
        input(type="text" name="username" placeholder="Username" id="username" class="signup_field")
        p(id="usernameError" class="error_label")
        input(type="password" name="password" placeholder="Password" id="password" class="signup_field") 
        p(id="passwordError" class="error_label")
        div(id="result")
        input(type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" value='')
        input(type="submit" value="Verify" id="submitBtn" class="g-recaptcha" data-sitekey="6LcxZTwaAAAAADFAe64Jwf8Ox2rHAlj61iphlijY" data-action='submit' data-callback='onClick')
        input(type="submit" value="Register" id='register' hidden)
    p(class="register_text") Already have an account?
        a(class="sign_btn" href="/login") Login!
script(src="./js/validation.js")
script(src="./js/captcha.js")
