.box {
    border: 1px solid black;
}

.parent-div {
    padding-bottom: 20px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
}

.reviewForm {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#navBar {
    overflow: hidden;
    background-color: #000022;
    /* width: 1000%; */
}

#navBar li {
    list-style-type: none;
    display: inline-block;
    /* padding: 5px; */
    margin-right: 12px;
    color: #fff;
}

#navBar li:hover {
    cursor: pointer;
    color: yellow;
}
