.box {
    border: 1px solid black;
}

.parent-div {
    padding-bottom: 20px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
}

.reviewForm {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#navBar {
    background-color: red;
}

html {
    background-color: blue;
}